/** @format */
.button_primary {
  color: #ffffff;
  background: #eb5017;
}

.button_primary_outline {
  color: #eb5017;
  border: 1px solid #eb5017;
}

.button_primary_light {
  color: #344054;
  border: 2px solid #d0d5dd;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-icon {
  color: white; /* Set icon color to white */
}

.spinner svg {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#RFS-StepperContainer {
  padding: unset !important;
}

#RFS-Connector {
  display: none !important;
}

.StepperContainer-0-2-1 {
  flex-direction: column !important;
}

#RFS-StepContainer {
  margin-bottom: 10px;
  padding: 0 !important;
}

.StepMain-0-2-3 {
  flex-direction: row !important;
}

#RFS-StepButton {
  width: 0 !important;
  height: 0 !important;
  border: 1px solid #98a2b3 !important;
  background: none !important;
  padding: 20px !important;
}

.StepButtonContent-0-2-5 {
  color: #98a2b3 !important;
}

#RFS-StepButton.active {
  background: #f56630 !important;
  border: none !important;
}

.StepButtonContent-d1-0-2-7.active {
  color: #ffffff !important;
}

.StepContainer-0-2-2 {
  width: 100%;
}

#RFS-LabelContainer {
  padding: 6px 10px;
}

#RFS-Label {
  margin-top: 0;
  text-align: left;
}
